@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    background-color: rgb(180, 163, 136);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    padding: 20px 5px;
}

.icon-img img{
    width: 100px;
    height: auto;
} 

.boton {
    padding: 10px;
    background-color: rgb(127, 108, 83);
}
