@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    background-repeat: repeat-x;
    text-align: center;
}

.formLogin {
    width: 400px;
    background: #b88a60;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.formLogin h1 {
    font-size: 22px;
    margin-bottom: 50px;
}

.controls {
    width: 100%;
    background:  #fccdaa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #414040;
    font-size: 18px;
}

.formLogin p {
    height: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 10px;
    text-decoration: none;
}

.formLogin a:hover {
    color: white;
    text-decoration: underline;
}

.formLogin .botons {
    width: 100%;
    background: #fccdaa;
    border: none;
    padding: 12px;
    color: #414040;
    margin: 16px 0;
    font-size: 16px;
}


.LogoLogin {
    width: 300px;
    height: auto;
    margin-top: 10px;
}

.links {
    text-decoration: none;
    color: #000;
}

.Iniciar_Sesion {
    background: #fccdaa;
    padding: 15px 80px;
    text-decoration: none;
    color: #000;
    margin-top: 10px;
}

